@import url('https://fonts.googleapis.com/css?family=Arvo|Walter+Turncoat');

$orange: rgba(247, 92, 3, 1);
$dark-blue: rgba(31, 86, 115, 1);
$light-blue: rgba(0, 167, 227, 1);
$black: rgba(38, 38, 38, 1);
$grey: rgba(65, 76, 77, 1);
$white: #fff;

body {
    color: $dark-blue;
    background: $light-blue;
    font-family: 'Arvo', serif;
}

p {
  margin: 0.7rem 1rem;
  font-weight: 600;
}


h1,h2,h3,h4,h5 {
  margin: 0.5rem;
  color: $orange;
  font-weight: 800;
  font-family: 'Walter Turncoat', sans-serif;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}


.container {
   max-width: 960px;
   margin: 0 auto;
}

.cuvee-list {
    display:flex;
    flex-wrap: wrap;

    .cuvee-item {
	background-color: $grey;
	border: 5px solid $orange;
	color: $white;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	text-decoration: none;
	text-align: center;
	width: 25%; // there sould be a break pt.
	margin: 2rem;
	height: 10rem;

	.cuvee-id {
	    display: block;
	    font-size: 5rem;
	    color: $orange;
	}
    }

    .cuvee-item:hover {
	background-color: $black;
    }
}

nav {
  display: flex;
  border-bottom: 5px solid $dark-blue;

  .logo {
    flex: 1;
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.5rem;
  }
  ul {
      display: flex;
      li {
        flex: 1 1 auto;
        padding: 0.5rem;
        margin: auto 1rem;
        a, a:visited {
            color: $dark-blue;
            font-weight: 600;
        }

      }
  }
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background: $black;
   color: $white;
   font-weight: 200;

  .footer-item {
       float: left;
       font-size: 0.7rem;
       a, a:visited { color: $grey; }
       img { margin: 0.7rem 1rem; }
   }
}
